  @import url('https://fonts.googleapis.com/css2?family=Akronim&family=Pacifico&family=Roboto&family=Rubik+Iso&display=swap');

* {  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }  
  
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    display: grid;   
    min-height: 100vh;
  }

  
  body {
    background-image: url(./public/world.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    margin: 0;
    padding: 0;
    }

  h1 {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
  }

  h1.user {
    color: #ff00ff;
    text-shadow:#9a27f7 2px 3px;  
  }

  h1.profile {
    color: #55ffe2;
    text-shadow:#6664ff 2px 3px;  
  }

  h1.posts {
    color:#c2ff05;
    text-shadow: #2ef8a0 2px 3px; 
  }

  h1.home {
    color:#c2ff05;
    text-shadow: #2ef8a0 2px 3px; 
  }  
  
  nav {
   width: auto;
   height: 100px;
  }

  nav img {
   height: 90px;
  }

  .container-form {   
    display: grid;
    justify-content: center;
    border-radius: 45px;

  }
  